/* element.style {
} */

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 400px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
#main-title {
  margin: 0;
  text-transform: uppercase;
  display: block;
 
  font-family: 'Cherry Swash', cursive;
  font-size: 4em;
  font-weight: 700;
  border: none;
  background: transparent;
  word-wrap:normal;
  text-align: left; 

}
#main-subtitle {
  margin: 0;
  text-transform: uppercase;
  display: block;
  
  font-family: 'Cherry Swash', cursive;
  font-size: 2em;
  font-weight: 300;
  border: none;
  background: transparent;
  word-wrap:normal;
  text-align: left; 
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

 .container .rounded float-left {
  border-radius: 30px;
  width: 50%;
  padding-top: 5px;
  margin: 0 auto;
  
}

#about-me .jumbotron {
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
#contact-me .jumbotron {
  border-radius: 20px;
  padding: 40px;
/*   background-color: rgba(255,255,255,0.95); */
  max-width: 800px;
  margin: 0 auto;
}

.content-container {
  padding: 40px;
  margin: 0, auto;
  
}

.container summary {
  font-size: 2em;
}
.container p {
  font-size: 1em;
}

summary {
  cursor: pointer;
  outline: none;
}

aside {
  width: 40%;
  padding-left: .5rem;
  padding: 1%;
  margin-right: .5rem;
  margin-left: .5rem;
  
  float: left;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #98D7C2;
  -ms-flex-line-pack: start;
}
.col-sm-8 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-par .img-aside img {
  width: 400px;

}
.card-img, .card-img-top {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

/* img {
  vertical-align: middle;
  border-style: none;
} */



.text-secondary {
  color:#DDFFE7
}

a {
  color: #e3f161;
}

p {
  color: rgb(54, 45, 45);
}

div {
  display: block;
}
/* contact css begins here */

.contact__form {
	padding-top: 60px;
}

.contact__form h2 {
	color: #353535;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 45px;
	text-align: center;
}

.contact__form form input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	color: #8d8d8d;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
}

.contact__form form input::-webkit-input-placeholder {
	color: #8d8d8d;
}

.contact__form form input::-moz-placeholder {
	color: #8d8d8d;
}

.contact__form form input:-ms-input-placeholder {
	color: #8d8d8d;
}

.contact__form form input::-ms-input-placeholder {
	color: #8d8d8d;
}

.contact__form form input::placeholder {
	color: #8d8d8d;
}

.contact__form form textarea {
	height: 150px;
	width: 100%;
	font-size: 15px;
	color: #8d8d8d;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding-left: 20px;
	border-radius: 5px;
	margin-bottom: 34px;
	padding-top: 14px;
	resize: none;
}

.contact__form form textarea::-webkit-input-placeholder {
	color: #8d8d8d;
}

.contact__form form textarea::-moz-placeholder {
	color: #8d8d8d;
}

.contact__form form textarea:-ms-input-placeholder {
	color: #8d8d8d;
}

.contact__form form textarea::-ms-input-placeholder {
	color: #8d8d8d;
}

.contact__form form textarea::placeholder {
	color: #8d8d8d;
}

.contact__form form button {
	border-radius: 5px;
	padding: 14px 38px 12px;
}

.navbar {
  margin-bottom: 20px;
}

/* contact css ends here */



@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean {
  background: #f1f7fc;
  padding: 80px 0;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

